@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Seymour+One&display=swap');

body { 
    margin-left: 30px;
    margin-right: 30px;
    background-color: #EBD4CB;
    color: #525152;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

header {
    color: #EFE8E5;
    background-color: #525152;
    width: 100%;
    height: 50px;
    display: flex;
  justify-content:center;
    align-items: center;    
}

img {
    width: 30%;
    margin: auto;
    display: block;
    border-radius: 55px;
}

a{
    text-decoration: none;
    color: #525152;
}

a:hover {
    font-weight: bold;
}

h1,h2 {
    text-align: center;
    text-transform: capitalize;
}

h1{ 
    font-family: "Seymour One", sans-serif;
    font-size: 180px;
   
    
}

h2{ 
    font-weight: 200;
    font-size: 40px;

}


h3{
    text-transform: uppercase;
    text-decoration:underline;
    font-size: 25px;
}

h4 {
    font-weight: 200;
}

.headerColor {
    color: #EFE8E5;
}

p{
    font-size: 20px;
}

#destacado {
    color: #EFEBE9;
    background-color: #9B877F;
    
}

ul {
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    background-color: #EFE8E5;
}